@use "./mixin" as *;

html {
  font-size: 16px;
  // scroll-snap-type: y mandatory;
  scroll-behavior: smooth;

  @media (max-width: 1300px) {
    font-size: 15px;
  }

  @media (max-width: 1024px) {
    font-size: 14px;
  }
}

body {
  // background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-family);
  color-scheme: dark;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-snap-align: start;
  scroll-behavior: smooth;

  background: linear-gradient(
    181deg,
    var(--color-bg) 10.82%,
    var(--color-primary) 58.14%
  );

  &::-webkit-scrollbar {
    display: none;
  }

  .maplibregl-ctrl-bottom-right {
    display: none !important;
  }
}

html[dir="rtl"] {
  body {
    line-height: 130%;
  }
}

.filter-opacity-75 {
  filter: opacity(0.25);
}

::selection {
  background: hsl(from var(--color-primary) h s l / 0.2);
}

.section-title {
  position: relative;
  display: block;
  font-size: 4.5rem;
  font-weight: 600;

  line-height: 1;
}

.text-content-area {
  * {
    font-family: var(--font-secondary);
  }

  p {
    font-weight: 300;
    // opacity: 0.95;
    // margin-bottom: 1rem;
    // font-size: 1.4rem;
    // margin: 0 !important;

    &:last-child {
      margin-bottom: 0;
    }
  }

  ul {
    margin-top: 1rem;

    li {
      position: relative;
      display: block;
      margin-bottom: 1rem;
      padding-inline-start: 1rem;
      // opacity: 0.95;
      // font-size: 1.1rem;
      font-weight: 300;

      &:before {
        content: "";
        position: absolute;
        top: 0.6rem;
        left: 0;
        width: 8px;
        height: 8px;
        background: #fff;
        border-radius: 50%;
      }
    }
  }

  > * {
    margin-block: 1rem;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

html[dir="rtl"] {
  .text-content-area {
    ul {
      li {
        &:before {
          left: auto;
          right: 0;
        }
      }
    }
  }
}

.container {
  @media (width >=96rem) {
    max-width: 88rem;
  }

  @media (width >=75rem) {
    max-width: 75rem;
  }
}

.inputStyle {
  border-bottom: 1px solid hsl(from var(--color-bg) h s l / 0.2);
  color: var(--color-bg);
  font-size: 1.2rem;
  padding-inline: 0;
  &:focus {
    box-shadow: none;
    outline: none;
  }
}

.mainBody {
  @media only screen and (min-width: rem(1025)) {
    padding: 1.25rem;
  }
}

.mainWrapper {
  --sideBar: 20rem;

  --sidePadd: 1.5rem;
  display: grid;
  grid-template-columns: var(--sideBar) 1fr;

  border-radius: 20px;
  overflow: clip;

  transition: grid-template-columns 0.3s ease-in-out;
  @media (width >= 96rem) {
    --sidePadd: 2rem;
  }
  @media only screen and (min-width: rem(1025)) and (max-width: rem(1370)) and (min-height: rem(500)) and (max-height: rem(670)) {
    --sideBar: 17rem;
  }
  &:has(.sideBar.open) {
    --sideBar: calc(24px + 2rem + (var(--sidePadd) * 2));

    @media only screen and (max-width: rem(1024)) {
      --sideBar: 6rem;
    }
    @media only screen and (max-width: rem(767)) {
      --sideBar: 4rem;
    }
  }

  @media only screen and (max-width: rem(1024)) {
    grid-template-columns: 100%;
    padding-inline-start: 6rem;
    border-radius: 0px;
    --off: 0.5rem;
  }
  @media only screen and (max-width: rem(767)) {
    // border-radius: 10px;
    --sidePadd: 0.8rem;
    --sideBar: 17rem;
    padding-inline-start: 4rem;
  }
}

.contentBox {
  padding: var(--sidePadd);
  background: var(--color-white);
  display: flex;
  flex-direction: column;
  gap: var(--mainGap);
  padding-inline-start: calc(var(--sidePadd) + var(--off, 0px));

  @media only screen and (max-width: rem(767)) {
    --off: 0rem;
  }
}

.sideBar {
  position: relative;
  padding: var(--sidePadd);
  @media only screen and (max-width: rem(1024)) {
    position: fixed;
    @include rtl(0, right, left);
    top: 0;
    z-index: 50;
    height: 100vh;
    transition: all 0.3s ease-in-out;

    width: var(--sideBar);
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: linear-gradient(202deg, #020355 -51.73%, #3c60f4 102.31%);

    // @media only screen and (max-width: rem(1024)) {
    //   border-top-left-radius: 20px;
    //   border-bottom-left-radius: 20px;
    //   overflow: hidden;
    // }
    // @media only screen and (max-width: rem(767)) {
    //   border-top-left-radius: 10px;
    //   border-bottom-left-radius: 10px;
    // }
  }

  &.open {
    .topBox {
      .toggleMenu {
        @include rtlProperty(calc(var(--sidePadd) * -1), right, left);
        @include rtl(
          transform,
          translateY(-50%) translateX(50%),
          translateY(-50%) translateX(-50%)
        );
        &::before {
          transform: scale(1);
        }
      }
    }
  }

  .inner {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 4rem;
    @media only screen and (max-width: rem(767)) {
      gap: 2rem;
      padding-top: 1rem;
    }
  }

  nav li {
    border-bottom: 1px solid hsl(from var(--color-white) h s l / 0.1);
    position: relative;

    --arc: 15px;
    --sq: 20px;
    &::after,
    &::before {
      content: "";
      position: absolute;

      width: var(--sq);
      height: var(--sq);
      border-radius: 50%;
      box-shadow: 0px 0px 0 var(--arc) var(--color-text);
      // box-shadow: 0px 0px 0 var(--arc) red;
      @include rtl(transform, translateX(100%), translateX(-100%) scale(-1, 1));
      @include rtlProperty(calc((var(--sidePadd)) * -1), right, left);
      opacity: 0;
      transition: all 0.3s ease-in-out;
      z-index: 15;
    }
    &::before {
      top: calc((var(--sq)) * -1);
      clip-path: polygon(50% 50%, 100% 50%, 100% 100%, 43% 100%);
    }

    &::after {
      bottom: calc(var(--sq) * -1);
      z-index: 15;
      clip-path: polygon(50% -1%, 100% -1%, 100% 50%, 50% 50%);
    }

    &:has(a.active) {
      &::after,
      &::before {
        @include rtl(transform, translateX(0%), translateX(0%) scale(-1, 1));
        opacity: 1;
      }
    }
  }

  .topBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    .toggleMenu {
      cursor: pointer;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 15;
      @include rtlProperty(0, right, left);
      transition: all 0.4s ease-in-out;

      @media only screen and (max-width: rem(767)) {
        top: 0;
      }

      &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: var(--color-white);
        border-radius: 50%;
        z-index: -1;
        transition: all 0.4s ease-in-out;
        transform: scale(0);
      }
    }
  }
}

[data-radix-popper-content-wrapper] {
  [data-slot="tooltip-content"] {
    background: var(--color-secondary);
    color: var(--color-black);
    font-size: 1rem;
    font-weight: 500;
    span {
      svg.bg-foreground {
        background: var(--color-secondary);
      }
    }

    &.editTip {
      color: var(--color-white);
      background-image: linear-gradient(
        0deg,
        var(--color-primary) 15%,
        var(--color-secondary) 120%
      );
      span {
        svg.bg-foreground {
          background: var(--color-primary);
        }
      }
      svg {
        fill: var(--color-primary);
      }
    }
    &.deleteTip {
      color: var(--color-white);
      background-image: linear-gradient(0deg, #f07067 15%, #ffc99d 120%);
      span {
        svg.bg-foreground {
          background: #f07067;
        }
      }
      svg {
        fill: #f07067;
      }
    }
  }
  svg {
    fill: var(--color-secondary);
  }
}

[data-sonner-toast][data-styled="true"] {
  --normal-bg: linear-gradient(
    45deg,
    var(--color-primary) 15%,
    var(--color-secondary) 120%
  );
  --normal-border: hsl(from var(--color-white) h s l / 0.5);
}
[data-sonner-toast][data-styled="true"][data-type="error"] {
  --normal-bg: var(--brandRed);
  --normal-border: var(--brandRed);
}
[data-sonner-toast][data-styled="true"][data-type="warning"] {
  --normal-bg: var(--brandYellow);
  --normal-border: var(--brandYellow);
}

[data-radix-popper-content-wrapper] svg {
  fill: transparent;
}
