html {
  font-size: 16px;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;

  @media (max-width: 1300px) {
    font-size: 15px;
  }

  @media (max-width: 1024px) {
    font-size: 14px;
  }
}

body {
  // background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-family);
  color-scheme: dark;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-snap-align: start;
  scroll-behavior: smooth;

  background: linear-gradient(181deg,
      var(--color-bg) 10.82%,
      var(--color-primary) 58.14%);

  &::-webkit-scrollbar {
    display: none;
  }

  .maplibregl-ctrl-bottom-right {
    display: none !important;
  }
}

html[dir="rtl"] {
  body {
    line-height: 130%;
  }
}

.filter-opacity-75 {
  filter: opacity(0.25);
}

.section-title {
  position: relative;
  display: block;
  font-size: 4.5rem;
  font-weight: 600;

  line-height: 1;
}

.text-content-area {
  * {
    font-family: var(--font-secondary);
  }

  p {
    font-weight: 300;
    // opacity: 0.95;
    // margin-bottom: 1rem;
    // font-size: 1.4rem;
    // margin: 0 !important;

    &:last-child {
      margin-bottom: 0;
    }
  }

  ul {
    margin-top: 1rem;

    li {
      position: relative;
      display: block;
      margin-bottom: 1rem;
      padding-inline-start: 1rem;
      // opacity: 0.95;
      // font-size: 1.1rem;
      font-weight: 300;

      &:before {
        content: "";
        position: absolute;
        top: 0.6rem;
        left: 0;
        width: 8px;
        height: 8px;
        background: #fff;
        border-radius: 50%;
      }
    }
  }

  >* {
    margin-block: 1rem;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

html[dir="rtl"] {
  .text-content-area {
    ul {
      li {
        &:before {
          left: auto;
          right: 0;
        }
      }
    }
  }
}

.svg_markers {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  overflow: visible;

  .svg_marker {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    width: auto;
    height: auto;
    transition: all 0.3s ease;
    z-index: 20;

    .marker {
      width: 2.75rem;
      height: fit-content;
      transition: transform 0.25s ease-in-out;
      position: relative;
      z-index: 1;
    }

    &:hover {
      transform: scale(1.1);
      z-index: 999;
    }

    .content {
      pointer-events: none;
      width: 350px;
      border-radius: 10px;
      height: max-content;
      z-index: 9999;

      @media (min-width: 1025px) {
        width: 480px;
        max-width: 480px;
        z-index: 9999;
      }
    }

    &.flip-left {
      .content {
        left: auto;
        right: 16px;
        margin-left: 0;
        display: inline-flex;
        justify-items: end;
      }
    }

    &:hover {
      .content {
        pointer-events: auto;
      }
    }

    svg {
      width: 100%;
      height: auto;
    }

    // &:nth-child(1) {
    //   top: 16%;
    //   left: 15%;
    // }

    &:nth-child(1) {
      top: 33%;
      left: 16%;
    }

    // &:nth-child(3) {
    //   top: 47%;
    //   left: 18%;
    // }

    // &:nth-child(4) {
    //   top: 58%;
    //   left: 27%;
    // }

    &:nth-child(2) {
      top: 22%;
      left: 40%;
    }

    &:nth-child(3) {
      top: 29%;
      left: 46%;
    }

    &:nth-child(4) {
      top: 54%;
      right: 25%;
      left: auto;
    }
  }

  .country {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    width: max-content;
    //  right: 0;

    &:nth-child(1) {
      top: 15%;
      left: 5%;
    }

    &:nth-child(2) {
      top: 25%;
      left: 5%;
    }

    &:nth-child(3) {
      top: 15%;
      left: 75%;
    }

    &:nth-child(4) {
      top: 25%;
      left: 75%;
    }
  }
}

.global-text-area-trim .text-content-area * {
  display: none;
}

.global-text-area-trim .text-content-area p:nth-child(1) {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.container {
  @media (width >=96rem) {
    max-width: 88rem;
  }

  @media (width >=75rem) {
    max-width: 75rem;
  }
}

.inputStyle {
  border-bottom: 1px solid hsl(from var(--color-bg) h s l / .2);
  color: var(--color-bg);
  font-size: 1.3rem;

}